<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven3/</url>
                </repository>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/AbhiGaddi/integration-sdks</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>${{ secrets.OSSRH_USERNAME }}</username>
            <password>${{ secrets.OSSRH_TOKEN }}</password>
        </server>
    </servers>
</settings>
