<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>hcxprotrocol</username>
            <password>habgoc-tAfhuz-1cyfjo</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>${{ secrets.GPG_PASSPHRASE }}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>